@font-face {
    font-family: 'futura';
    src: url('./font/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4eee4;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.botones {
    width: 180px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color: burlywood;
    margin-right: 15px;
    transition: all .6s ease;
}

.botones:hover {
    transform: scale(1.1);
}

.header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}

.contenedor-header {
    width: 23%;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    color: #f4eee4;
    font-family: 'futura';
    overflow: hidden;
    padding: 15px;
    min-width: 150px;
    max-width: 40%;
}


.botones-header {
    margin-right: 2.5%;
    margin-left: 3%;
    font-size: clamp(10px, 2vw, 14px);
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    transition: all .2s;
}

.botones-header:hover {
    color: black;
}

.botones-header::after {
    content: attr(data-nombre);
    font-family: 'futura';
    color: inherit;
}

@media (max-width: 600px) {
    .contenedor-header {
        width: 100%;
        min-width: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .botones-header{
        font-size: 15px;
    }
    .botones-header::after {
        content: attr(data-inicial);
    }
}
.logo-maso{
    display: flex;
    justify-content: center;
}
